

@model Product

<br />
<div>
    <h2> @Model.Name</h2>
    <b>Id: </b> @Model.Id <br />
    <b>Price: </b> @Model.Price <br />
    <b>Quantity: </b> @Model.Quantity <br />
    <b>Description: </b> @Model.Description
</div>